body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hide {
    visibility: hidden;
}

#slide-container {
    display: flex;
    width: 1000px;
    height: 800px;
    position: relative;
    margin-left: 400px;
}

.image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#circleContainer>.circle {
    display: inline;
    border-radius: 50%;
    background-color: yellow;
    width: 30px;
    height: 30px;
    align-items: flex-end;
}

#circleContainer {
    display: flex;
    justify-content: center;
}

.active {
    visibility: visible;
}

.image {
    width: 100%;
    height: 100%;
    position: absolute;
}

#prev,
#next {
    z-index: 1;
    position: absolute;
    margin-top: 500px;
}

#next {
    right: 0px;
    margin-top: 515px;
}


/* #prev {
    left: 500px;
} */

#circleContainer>.circle.circleActive {
    background-color: red;
}

#circleContainer>.circle.circleHide {
    background-color: yellow;
}